/* width: 115; alt */
.db-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 60px;
}

.db-icon-align {
  align-self: flex-end;
}

@media (max-width: 1439px) {
  .db-icon-align {
    margin-top: 6px;
    justify-content: flex-end;
  }
}
