.text-grid-container,
.text-grid-center {
  display: grid;
}

.text-grid-container {
  position: relative;
}

.text-grid-center {
  justify-items: center;
}

.text-card {
  max-width: 48.5ch;
  display: grid;
  gap: 20px;
}

.text-card-mg {
  margin: 0 auto;
}

.text-card-position {
  align-self: center;
  padding: 1.25rem;
}

.text-btn-container {
  letter-spacing: 1.7rem;
  cursor: pointer;
}

.text-card > h1 {
  font-weight: 600;
}

.text-body {
  font-weight: 500;
  color: var(--dg);
}

.text-body-decoration {
  line-height: 1.7;
  letter-spacing: 0.1rem;
  margin-bottom: 35px;
}

.text-btn {
  color: var(--dvg);
}

.text-btn-container:hover,
.text-btn:hover,
.arrow-mg:hover {
  opacity: 0.7;
}

.arrow-mg {
  margin-left: 30px;
}

/*    Media Query */

@media (min-width: 1439px) {
  .text-card-position {
    margin-bottom: 50px;
  }
}
